# Regression - Training and Testing

Here, we're going to make a regression algorithm to predict "Adj Close" price of a stock.

## Goal

Implement a Regression algorithm that trains and tests a trading a symbol to predict its price value.

## Import libraries

In [24]:
import pandas as pd
import numpy as np  
import datetime as dt
import math
import datetime

# To fetch data
from pandas_datareader import data as pdr   
import fix_yahoo_finance as yf  
yf.pdr_override()   

# sklearn
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

# Add plotly for interactive charts
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly import tools

## Initial variables

In [2]:
symbol = "AMZN"
# Specify the start and end dates for this period.
start_d = dt.datetime(2008, 1, 1)
#end_d = dt.datetime(2018, 10, 30)
yesterday = dt.date.today() - dt.timedelta(1)
end_d = yesterday

### Get portfolio data from Yahoo

In [3]:
portf_value = fetchOnlineData(start_d, end_d, symbol)

[*********************100%***********************]  1 of 1 downloaded

In [4]:
portf_value

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-12-31,93.809998,94.370003,92.449997,92.639999,92.639999,5755200
2008-01-02,95.349998,97.430000,94.699997,96.250000,96.250000,13858700
2008-01-03,96.059998,97.250000,94.519997,95.209999,95.209999,9122500
2008-01-04,93.260002,93.400002,88.500000,88.790001,88.790001,10270000
2008-01-07,88.620003,90.570000,85.470001,88.820000,88.820000,9981600
2008-01-08,87.550003,91.830002,86.930000,87.879997,87.879997,12283300
2008-01-09,87.559998,87.800003,80.239998,85.220001,85.220001,16410900
2008-01-10,83.980003,85.970001,82.970001,84.260002,84.260002,11609900
2008-01-11,84.029999,84.029999,80.290001,81.080002,81.080002,10624300
2008-01-14,82.180000,83.320000,78.870003,82.870003,82.870003,9056100
2008-01-15,80.489998,81.010002,78.510002,80.239998,80.239998,9655900
2008-01-16,79.580002,82.360001,78.440002,80.349998,80.349998,12407000
2008-01-17,80.160004,82.250000,79.540001,80.120003,80.120003,9900900
2008-01-18,79.930000,82.309998,78.040001,79.760002,79.760002,13364300
2008-01-22,73.580002,79.720001,72.220001,78.480003,78.480003,12822200
2008-01-23,75.599998,76.800003,69.949997,73.970001,73.970001,20405700
2008-01-24,74.529999,77.879997,74.190002,77.669998,77.669998,9886600
2008-01-25,78.690002,81.430000,76.330002,77.599998,77.599998,10027600
2008-01-28,76.910004,77.400002,74.339996,75.820000,75.820000,8505300
2008-01-29,75.769997,75.900002,72.059998,73.949997,73.949997,9958000
2008-01-30,73.540001,77.419998,73.250000,74.209999,74.209999,25298700
2008-01-31,68.910004,78.870003,68.839996,77.699997,77.699997,42885900
2008-02-01,79.019997,79.400002,73.370003,74.629997,74.629997,16361000
2008-02-04,74.500000,76.660004,73.900002,73.949997,73.949997,9155200
2008-02-05,72.800003,74.209999,72.000000,72.089996,72.089996,9633900
2008-02-06,72.300003,72.430000,68.169998,68.489998,68.489998,12399500
2008-02-07,67.370003,72.709999,67.220001,70.910004,70.910004,14501700
2008-02-08,73.400002,74.599998,72.519997,73.500000,73.500000,11700400
2008-02-11,73.139999,75.959999,72.769997,75.190002,75.190002,7763700
2008-02-12,75.430000,77.050003,73.790001,74.449997,74.449997,9449000
...,...,...,...,...,...,...
2018-10-12,1808.000000,1808.949951,1742.530029,1788.609985,1788.609985,9444600
2018-10-15,1795.000000,1795.050049,1734.229980,1760.949951,1760.949951,6437200
2018-10-16,1783.500000,1823.880005,1761.550049,1819.959961,1819.959961,5859900
2018-10-17,1842.790039,1845.000000,1807.000000,1831.729980,1831.729980,5295200
2018-10-18,1821.489990,1830.150024,1767.869995,1770.719971,1770.719971,5874000
2018-10-19,1785.160034,1809.099976,1753.000000,1764.030029,1764.030029,5907200
2018-10-22,1784.000000,1809.500000,1756.000000,1789.300049,1789.300049,4500000
2018-10-23,1742.239990,1776.339966,1714.000000,1768.699951,1768.699951,6723900
2018-10-24,1773.699951,1777.709961,1656.560059,1664.199951,1664.199951,6928400
2018-10-25,1703.339966,1794.810059,1692.010010,1782.170044,1782.170044,10285700
2018-10-26,1649.589966,1698.459961,1603.000000,1642.810059,1642.810059,14963800
2018-10-29,1660.000000,1665.739990,1495.000000,1538.880005,1538.880005,13866100
2018-10-30,1486.160034,1540.989990,1476.359985,1530.420044,1530.420044,12460100
2018-10-31,1569.989990,1623.910034,1565.089966,1598.010010,1598.010010,9390200
2018-11-01,1623.530029,1670.449951,1598.439941,1665.530029,1665.530029,8135500
2018-11-02,1678.589966,1697.439941,1651.829956,1665.530029,1665.530029,6955500
2018-11-05,1657.569946,1658.089966,1596.359985,1627.800049,1627.800049,5624700
2018-11-06,1618.349976,1665.000000,1614.550049,1642.810059,1642.810059,4257400
2018-11-07,1673.000000,1759.229980,1664.079956,1755.489990,1755.489990,8192200
2018-11-08,1755.000000,1784.000000,1725.109985,1754.910034,1754.910034,6534900
2018-11-09,1732.500000,1743.920044,1701.869995,1712.430054,1712.430054,5902200
2018-11-12,1698.239990,1708.550049,1630.010010,1636.849976,1636.849976,6806200
2018-11-13,1649.290039,1677.060059,1613.750000,1631.170044,1631.170044,5933300
2018-11-14,1656.319946,1673.000000,1597.069946,1599.010010,1599.010010,6486900
2018-11-15,1581.010010,1624.819946,1546.510010,1619.439941,1619.439941,8427300
2018-11-16,1587.500000,1614.479980,1573.119995,1593.410034,1593.410034,6066100
2018-11-19,1577.010010,1581.189941,1503.359985,1512.290039,1512.290039,7790000
2018-11-20,1437.500000,1534.750000,1420.000000,1495.459961,1495.459961,10878800
2018-11-21,1542.989990,1550.000000,1515.000000,1516.729980,1516.729980,5716800
2018-11-23,1517.000000,1536.199951,1501.810059,1502.060059,1502.060059,2707600

## Features and label

In our case, what are the features and what is the label? We're trying to predict the price, so is price the label? If so, what are the featuers? When it comes to forecasting out the price, our label, the thing we're hoping to predict, is actually the future price. As such, our features are actually: current price, high minus low percent, and the percent change volatility. The price that is the label shall be the price at some determined point the future.

In [5]:
df = portf_value[['Open',  'High',  'Low',  'Close', 'Volume']]

df['HL_PCT'] = (df['High'] - df['Low']) / df['Close'] * 100.0
df['PCT_change'] = (df['Close'] - df['Open']) / df['Open'] * 100.0

df = df[['Close', 'HL_PCT', 'PCT_change', 'Volume']]
print(df.head())

                Close    HL_PCT  PCT_change    Volume
Date
2007-12-31  92.639999  2.072545   -1.247201   5755200
2008-01-02  96.250000  2.836367    0.943893  13858700
2008-01-03  95.209999  2.867349   -0.884863   9122500
2008-01-04  88.790001  5.518642   -4.793053  10270000
2008-01-07  88.820000  5.741949    0.225679   9981600

## Fill NaN data

We fill any NaN data with -99999. It's a popular option is to replace missing data with -99,999. With many machine learning classifiers, this will just be recognized and treated as an outlier feature.

In [30]:
forecast_col = 'Adj Close'
df.fillna(value=-99999, inplace=True)

,Close,HL_PCT,PCT_change,Volume,label,Forecast
Date,,,,,,
2007-12-31 00:00:00,92.639999,2.072545,-1.247201,5755200.0,75.190002,-99999.000000
2008-01-02 00:00:00,96.250000,2.836367,0.943893,13858700.0,74.449997,-99999.000000
2008-01-03 00:00:00,95.209999,2.867349,-0.884863,9122500.0,77.730003,-99999.000000
2008-01-04 00:00:00,88.790001,5.518642,-4.793053,10270000.0,75.800003,-99999.000000
2008-01-07 00:00:00,88.820000,5.741949,0.225679,9981600.0,72.959999,-99999.000000
2008-01-08 00:00:00,87.879997,5.575788,0.376921,12283300.0,72.080002,-99999.000000
2008-01-09 00:00:00,85.220001,8.871163,-2.672450,16410900.0,73.639999,-99999.000000
2008-01-10 00:00:00,84.260002,3.560408,0.333412,11609900.0,69.900002,-99999.000000
2008-01-11 00:00:00,81.080002,4.612726,-3.510647,10624300.0,72.080002,-99999.000000
2008-01-14 00:00:00,82.870003,5.369853,0.839624,9056100.0,73.269997,-99999.000000
2008-01-15 00:00:00,80.239998,3.115653,-0.310598,9655900.0,71.690002,-99999.000000
2008-01-16 00:00:00,80.349998,4.878655,0.967575,12407000.0,70.870003,-99999.000000
2008-01-17 00:00:00,80.120003,3.382425,-0.049901,9900900.0,67.849998,-99999.000000
2008-01-18 00:00:00,79.760002,5.353557,-0.212684,13364300.0,64.470001,-99999.000000
2008-01-22 00:00:00,78.480003,9.556575,6.659419,12822200.0,62.430000,-99999.000000
2008-01-23 00:00:00,73.970001,9.260519,-2.156081,20405700.0,65.339996,-99999.000000
2008-01-24 00:00:00,77.669998,4.750863,4.213067,9886600.0,64.989998,-99999.000000
2008-01-25 00:00:00,77.599998,6.572163,-1.385187,10027600.0,62.740002,-99999.000000
2008-01-28 00:00:00,75.820000,4.035882,-1.417246,8505300.0,64.089996,-99999.000000
2008-01-29 00:00:00,73.949997,5.192703,-2.402006,9958000.0,63.470001,-99999.000000
2008-01-30 00:00:00,74.209999,5.619186,0.911066,25298700.0,67.150002,-99999.000000
2008-01-31 00:00:00,77.699997,12.908632,12.755757,42885900.0,66.510002,-99999.000000
2008-02-01 00:00:00,74.629997,8.079860,-5.555556,16361000.0,68.320000,-99999.000000
2008-02-04 00:00:00,73.949997,3.732254,-0.738259,9155200.0,68.220001,-99999.000000
2008-02-05 00:00:00,72.089996,3.065611,-0.975284,9633900.0,66.529999,-99999.000000
2008-02-06 00:00:00,68.489998,6.219889,-5.269716,12399500.0,71.699997,-99999.000000
2008-02-07 00:00:00,70.910004,7.742205,5.254566,14501700.0,70.169998,-99999.000000
2008-02-08 00:00:00,73.500000,2.829933,0.136237,11700400.0,73.190002,-99999.000000
2008-02-11 00:00:00,75.190002,4.242588,2.802848,7763700.0,75.949997,-99999.000000
2008-02-12 00:00:00,74.449997,4.378781,-1.299222,9449000.0,75.169998,-99999.000000
...,...,...,...,...,...,...
2018-10-12 00:00:00,1788.609985,3.713494,-1.072457,9444600.0,1516.729980,-99999.000000
2018-10-15 00:00:00,1760.949951,3.453822,-1.896939,6437200.0,1502.060059,-99999.000000
2018-10-16 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2003.392831
2018-10-17 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2000.283171
2018-10-18 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1986.885112
2018-10-19 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2038.030025
2018-10-20 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2039.395175
2018-10-21 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2039.860204
2018-10-22 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2019.860944
2018-10-23 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1952.623966
2018-10-24 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1990.290160
2018-10-25 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1974.781145
2018-10-26 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1994.091774
2018-10-27 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1959.174473
2018-10-28 02:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1984.913411
2018-10-29 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2023.998693
2018-10-30 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2024.081026
2018-10-31 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2062.938865
2018-11-01 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2052.871024
2018-11-02 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2054.887509
2018-11-03 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,2018.931872
2018-11-04 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1999.881776
2018-11-05 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1953.427821
2018-11-06 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1934.354322
2018-11-07 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1908.326846
2018-11-08 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1917.263088
2018-11-09 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1791.799909
2018-11-10 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1751.033343
2018-11-11 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1827.670447
2018-11-12 01:00:00,-99999.000000,-99999.000000,-99999.000000,-99999.0,-99999.000000,1803.270724

## Forecast out

We're saying we want to forecast out 1% of the entire length of the dataset. Thus, if our data is 100 days of stock prices, we want to be able to predict the price 1 day out into the future. Choose whatever you like. If you are just trying to predict tomorrow's price, then you would just do 1 day out, and the forecast would be just one day out. If you predict 10 days out, we can actually generate a forcast for every day, for the next week and a half.

In [7]:
forecast_out = int(math.ceil(0.01 * len(df)))

## Shift the values

https://stackoverflow.com/questions/44675650/what-is-meant-by-shift-in-dataframe

In [8]:
df['label'] = portf_value[forecast_col].shift(-forecast_out)

## Drop NaN values

We'll then drop any still NaN information from the dataframe.

In [9]:
df.dropna(inplace=True)

##  Define our features and labels as arrays and preprocessing

Generally, you want your features in machine learning to be in a range of -1 to 1. This may do nothing, but it usually speeds up processing and can also help with accuracy.

In [10]:
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

## Create the label 'y'

In [11]:
y = np.array(df['label'])

# Training and testing

Now comes the training and testing. The way this works is you take, for example, 75% of your data, and use this to train the machine learning classifier. Then you take the remaining 25% of your data, and test the classifier. Since this is your sample data, you should have the features and known labels. Thus, if you test on the last 25% of your data, you can get a sort of accuracy and reliability, often called the confidence score. There are many ways to do this, but, probably the best way is using the build in cross_validation provided, since this also shuffles your data for you.

In [12]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

## Classifier

Let's use Linear Regression from Scikit-Learn's svm package

In [13]:
clf = LinearRegression()

## Training

In [14]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Testing

In [15]:
confidence = clf.score(X_test, y_test)

## Confidence

In [16]:
print("Confidence: ", confidence)

Confidence:  0.9853637951893229

## Forecasting results

In [18]:
X_lately = X[-forecast_out:]
forecast_set = clf.predict(X_lately)

In [19]:
print(forecast_set, confidence, forecast_out)

[2003.39283124 2000.28317094 1986.88511159 2038.03002512 2039.39517548
 2039.86020424 2019.86094352 1952.62396598 1990.29015963 1974.78114468
 1994.09177365 1959.17447329 1984.91341126 2023.99869339 2024.08102553
 2062.93886528 2052.87102375 2054.88750931 2018.93187172 1999.8817764
 1953.42782123 1934.35432202 1908.32684636 1917.26308776 1791.79990896
 1751.03334325 1827.67044737 1803.27072368] 0.9853637951893229 28

# Visualizing

Stock prices are daily, for 5 days, and then there are no prices on the weekends. I recognize this fact, but we're going to keep things simple, and plot each forecast as if it is simply 1 day out. If you want to try to work in the weekend gaps (don't forget holidays) go for it, but we'll keep it simple.

## Adding forecast column

We set the value as a NaN first, but we'll populate some shortly. We said we're going to just start the forecasts as tomorrow (recall that we predict 10% out into the future, and we saved that last 10% of our data to do this, thus, we can begin immediately predicting since -10% has data that we can predict 10% out and be the next prediction)

In [20]:
df['Forecast'] = np.nan

## Setting dates

Wset the value as a NaN first, but we'll populate some shortly. We said we're going to just start the forecasts as tomorrow (recall that we predict 10% out into the future, and we saved that last 10% of our data to do this, thus, we can begin immediately predicting since -10% has data that we can predict 10% out and be the next prediction). We need to first grab the last day in the dataframe, and begin assigning each new forecast to a new day.

In [21]:
last_date = df.iloc[-1].name
last_unix = last_date.timestamp()
one_day = 86400
next_unix = last_unix + one_day

## Forecasting the existing dataframe

Now we have the next day we wish to use, and one_day is 86,400 seconds. Now we add the forecast to the existing dataframe.

So here all we're doing is iterating through the forecast set, taking each forecast and day, and then setting those values in the dataframe (making the future "features" NaNs). The last line's code just simply takes all of the first columns, setting them to NaNs, and then the final column is whatever i is (the forecast in this case). I have chosen to do this one-liner for loop like this so that, if we decide to change up the dataframe and features, the code can still work.

In [25]:
for i in forecast_set:
    next_date = datetime.datetime.fromtimestamp(next_unix)
    next_unix += 86400
    df.loc[next_date] = [np.nan for _ in range(len(df.columns)-1)]+[i]

In [29]:
df

,Close,HL_PCT,PCT_change,Volume,label,Forecast
Date,,,,,,
2007-12-31 00:00:00,92.639999,2.072545,-1.247201,5755200.0,75.190002,NaN
2008-01-02 00:00:00,96.250000,2.836367,0.943893,13858700.0,74.449997,NaN
2008-01-03 00:00:00,95.209999,2.867349,-0.884863,9122500.0,77.730003,NaN
2008-01-04 00:00:00,88.790001,5.518642,-4.793053,10270000.0,75.800003,NaN
2008-01-07 00:00:00,88.820000,5.741949,0.225679,9981600.0,72.959999,NaN
2008-01-08 00:00:00,87.879997,5.575788,0.376921,12283300.0,72.080002,NaN
2008-01-09 00:00:00,85.220001,8.871163,-2.672450,16410900.0,73.639999,NaN
2008-01-10 00:00:00,84.260002,3.560408,0.333412,11609900.0,69.900002,NaN
2008-01-11 00:00:00,81.080002,4.612726,-3.510647,10624300.0,72.080002,NaN
2008-01-14 00:00:00,82.870003,5.369853,0.839624,9056100.0,73.269997,NaN
2008-01-15 00:00:00,80.239998,3.115653,-0.310598,9655900.0,71.690002,NaN
2008-01-16 00:00:00,80.349998,4.878655,0.967575,12407000.0,70.870003,NaN
2008-01-17 00:00:00,80.120003,3.382425,-0.049901,9900900.0,67.849998,NaN
2008-01-18 00:00:00,79.760002,5.353557,-0.212684,13364300.0,64.470001,NaN
2008-01-22 00:00:00,78.480003,9.556575,6.659419,12822200.0,62.430000,NaN
2008-01-23 00:00:00,73.970001,9.260519,-2.156081,20405700.0,65.339996,NaN
2008-01-24 00:00:00,77.669998,4.750863,4.213067,9886600.0,64.989998,NaN
2008-01-25 00:00:00,77.599998,6.572163,-1.385187,10027600.0,62.740002,NaN
2008-01-28 00:00:00,75.820000,4.035882,-1.417246,8505300.0,64.089996,NaN
2008-01-29 00:00:00,73.949997,5.192703,-2.402006,9958000.0,63.470001,NaN
2008-01-30 00:00:00,74.209999,5.619186,0.911066,25298700.0,67.150002,NaN
2008-01-31 00:00:00,77.699997,12.908632,12.755757,42885900.0,66.510002,NaN
2008-02-01 00:00:00,74.629997,8.079860,-5.555556,16361000.0,68.320000,NaN
2008-02-04 00:00:00,73.949997,3.732254,-0.738259,9155200.0,68.220001,NaN
2008-02-05 00:00:00,72.089996,3.065611,-0.975284,9633900.0,66.529999,NaN
2008-02-06 00:00:00,68.489998,6.219889,-5.269716,12399500.0,71.699997,NaN
2008-02-07 00:00:00,70.910004,7.742205,5.254566,14501700.0,70.169998,NaN
2008-02-08 00:00:00,73.500000,2.829933,0.136237,11700400.0,73.190002,NaN
2008-02-11 00:00:00,75.190002,4.242588,2.802848,7763700.0,75.949997,NaN
2008-02-12 00:00:00,74.449997,4.378781,-1.299222,9449000.0,75.169998,NaN
...,...,...,...,...,...,...
2018-10-12 00:00:00,1788.609985,3.713494,-1.072457,9444600.0,1516.729980,NaN
2018-10-15 00:00:00,1760.949951,3.453822,-1.896939,6437200.0,1502.060059,NaN
2018-10-16 02:00:00,NaN,NaN,NaN,NaN,NaN,2003.392831
2018-10-17 02:00:00,NaN,NaN,NaN,NaN,NaN,2000.283171
2018-10-18 02:00:00,NaN,NaN,NaN,NaN,NaN,1986.885112
2018-10-19 02:00:00,NaN,NaN,NaN,NaN,NaN,2038.030025
2018-10-20 02:00:00,NaN,NaN,NaN,NaN,NaN,2039.395175
2018-10-21 02:00:00,NaN,NaN,NaN,NaN,NaN,2039.860204
2018-10-22 02:00:00,NaN,NaN,NaN,NaN,NaN,2019.860944
2018-10-23 02:00:00,NaN,NaN,NaN,NaN,NaN,1952.623966
2018-10-24 02:00:00,NaN,NaN,NaN,NaN,NaN,1990.290160
2018-10-25 02:00:00,NaN,NaN,NaN,NaN,NaN,1974.781145
2018-10-26 02:00:00,NaN,NaN,NaN,NaN,NaN,1994.091774
2018-10-27 02:00:00,NaN,NaN,NaN,NaN,NaN,1959.174473
2018-10-28 02:00:00,NaN,NaN,NaN,NaN,NaN,1984.913411
2018-10-29 01:00:00,NaN,NaN,NaN,NaN,NaN,2023.998693
2018-10-30 01:00:00,NaN,NaN,NaN,NaN,NaN,2024.081026
2018-10-31 01:00:00,NaN,NaN,NaN,NaN,NaN,2062.938865
2018-11-01 01:00:00,NaN,NaN,NaN,NaN,NaN,2052.871024
2018-11-02 01:00:00,NaN,NaN,NaN,NaN,NaN,2054.887509
2018-11-03 01:00:00,NaN,NaN,NaN,NaN,NaN,2018.931872
2018-11-04 01:00:00,NaN,NaN,NaN,NaN,NaN,1999.881776
2018-11-05 01:00:00,NaN,NaN,NaN,NaN,NaN,1953.427821
2018-11-06 01:00:00,NaN,NaN,NaN,NaN,NaN,1934.354322
2018-11-07 01:00:00,NaN,NaN,NaN,NaN,NaN,1908.326846
2018-11-08 01:00:00,NaN,NaN,NaN,NaN,NaN,1917.263088
2018-11-09 01:00:00,NaN,NaN,NaN,NaN,NaN,1791.799909
2018-11-10 01:00:00,NaN,NaN,NaN,NaN,NaN,1751.033343
2018-11-11 01:00:00,NaN,NaN,NaN,NaN,NaN,1827.670447
2018-11-12 01:00:00,NaN,NaN,NaN,NaN,NaN,1803.270724

## Plotting

In [39]:
def plot_stock_prices(df_index, price, forecast, symbol="AMZN", title="Stock prices forecatsting", xlabel="Date", ylabel="Price", fig_size=(12, 6)):
    """Plot Stock Prices.

    Parameters:
    df_index: Date index
    price: Price, typically adjusted close price, series of symbol
    forecast: Forecast price
    symbol: Stock symbol
    title: Chart title
    xlabel: X axis title
    ylable: Y axis title
    fig_size: Width and height of the chart in inches
    
    Returns:
    Plot forecast prices
    """
    trace_prices = go.Scatter(
                x=df_index,
                y=price,
                name = symbol,
                line = dict(color = '#17BECF'),
                opacity = 0.8)

    trace_forecast_prices = go.Scatter(
                x=df_index,
                y=forecast,
                name = symbol,
                line = dict(color = '#FF8000'),
                opacity = 0.8)
        

    data = [trace_prices, trace_forecast_prices]

    layout = dict(
        title = title,
        showlegend=True,
        xaxis = dict(
                title=xlabel,
                linecolor='#000', linewidth=1,
                rangeselector=dict(
                        buttons=list([
                            dict(count=1,
                                 label='1m',
                                 step='month',
                                 stepmode='backward'),
                            dict(count=6,
                                 label='6m',
                                 step='month',
                                 stepmode='backward'),
                            dict(step='all')
                        ])
                ),
                range = [df_index.values[0], df_index.values[1]]),
            
        yaxis = dict(
                title=ylabel,
                linecolor='#000', linewidth=1
                ),
    )
        
        
        

    fig = dict(data=data, layout=layout)
    iplot(fig)

In [42]:
plot_price_forecast(portf_value.index, portf_value['Adj Close'], df['Forecast'])

DatetimeIndex(['2007-12-31', '2008-01-02', '2008-01-03', '2008-01-04',
               '2008-01-07', '2008-01-08', '2008-01-09', '2008-01-10',
               '2008-01-11', '2008-01-14',
               ...
               '2018-11-09', '2018-11-12', '2018-11-13', '2018-11-14',
               '2018-11-15', '2018-11-16', '2018-11-19', '2018-11-20',
               '2018-11-21', '2018-11-23'],
              dtype='datetime64[ns]', name='Date', length=2746, freq=None)